body {
  background-color: #f3f4f6;
  color: #333;
}

body.dark-mode {
  background-color: #1f2937;
  color: #f9fafb;
}

body.dark-mode .cell {
  background-color: #374151;
  border-color: #f9fafb;
}

body.dark-mode .cell:hover {
  background-color: #4b5563;
}

body.dark-mode #reset-game,
body.dark-mode #toggle-theme,
body.dark-mode #reset-score {
  background-color: #111827;
  color: #f9fafb;
}

body.dark-mode #reset-game:hover,
body.dark-mode #toggle-theme:hover,
body.dark-mode #reset-score:hover {
  background-color: #2b3c61;
}

#score {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-align: center;
  color: inherit;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  gap: 1rem;
}

.cell {
  background-color: white;
  border: 0.2rem solid #333;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
}

.cell:hover {
  background-color: #e5e7eb;
}

#phrase {
  font-size: 2rem;
  margin-top: 1rem;
}
